.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(235, 238, 245, 1);
  transition: opacity .5s ease-out;

  &.scrolled {
    opacity: 0;
  }

  &.sticky {
    position: fixed;
    opacity: 1;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;

    @media screen and (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 9.97px;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      top: 63px;
    }

    @media screen and (max-width: 1199px) {
      opacity: 0;
      pointer-events: none;
      transform: translateX(-100%);
      transition: opacity .5s ease-in-out, transform .5s ease-in-out;
      position: absolute;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      left: 0;
      right: 0;
      top: 100px;
      padding-left: 16px;
      padding-right: 16px;
      width: 100%;
      height: 100vh;
      background-color: rgba(235, 238, 245, 1);
    }

    &.opened {
      transform: translateX(0);
      opacity: 1;
      pointer-events: inherit;
      z-index: 1;

      .header__navigation {
        width: 100%;
      }
    }
  }

  &__logo {
    margin-right: 26px;

    a {
      display: block;
    }
  }

  &__navigation {
    @media screen and (max-width: 1199px) {
      padding-top: 14px;
      margin-bottom: 32px;
    }

    ul {
      display: flex;
      align-items: center;

      @media screen and (max-width: 1199px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    li {
      &:not(:last-of-type) {
        margin-right: 33px;
      }

      @media screen and (max-width: 1199px) {
        width: 100%;
        margin: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(43, 45, 58, 0.1);

        &:not(:last-of-type) {
          margin-bottom: 16px;
          margin-right: 0;
        }
      }
    }

    a {
      position: relative;
      font: 400 14px/17.07px Montserrat;
      color: rgba(43, 45, 58, 1);

      &.active {
        font-weight: 600;
        color: rgba(57, 125, 255, 1);

        &::after {
          content: '';
          position: absolute;
          bottom: -45px;
          left: 0;
          right: 0;
          margin: auto;
          width: 48px;
          height: 4px;
          background-color: #397DFF;
          box-shadow: 0px -1px 2px rgba(40, 88, 179, 0.15);
          border-radius: 6px;
        }
      }

      svg {
        display: none;
      }

      @media screen and (max-width: 1199px) {
        padding-left: 48px;
        display: block;

        &.active {
          &::after {
            display: none;
          }
        }

        svg {
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0;
          position: absolute;
          display: block;
        }
      }
    }
  }

  &__email,
  &__callback {
    position: relative;
    display: flex;

    svg {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      @media screen and (max-width: 1199px) {
        width: 28px;
        height: 28px;
        top: inherit;
      }
    }

    a {
      position: relative;
      padding-left: 30px;
      font: 600 13px/15.85px Montserrat;
      color: rgba(43, 45, 58, 1);

      @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        padding-left: 45px;
        font: 500 18px/24.38px Montserrat;
        color: rgba(57, 125, 255, 1);
      }
    }

    br {
      @media screen and (max-width: 1199px) {
        display: none;
      }
    }
  }

  &__email {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }

    span {
      display: none;

      @media screen and (max-width: 1199px) {
        display: block;
        margin-left: -45px;
        margin-bottom: 19px;
        font: 500 20px/20px Montserrat;
        color: rgba(43, 45, 58, 1);
      }
    }
  }

  &__callback {
    span {
      margin-bottom: 4px;
      font: 400 10px/10px Montserrat;
      color: rgba(57, 125, 255, 1);

      @media screen and (max-width: 1199px) {
        margin-left: -45px;
        margin-bottom: 19px;
        font: 500 20px/20px Montserrat;
        color: rgba(43, 45, 58, 1);
      }
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 48px;
    }
  }

  &__button-menu {
    @media screen and (min-width: 1200px) {
      display: none;
    }

    &.opened {
      z-index: 10;

      span {
        &:first-of-type {
          transform: rotate(45deg) translate(2px, 1px);
        }

        &:nth-of-type(2) {
          display: none;
        }

        &:last-of-type {
          transform: rotate(-45deg);
        }
      }
    }

    @media screen and (max-width: 1199px) {
      width: 24px;
      height: 24px;

      span {
        display: block;
        margin: auto;
        width: 18px;
        height: 2px;
        background-color: #2B2D3A;
        transition: transform .3s ease-in;

        &:first-of-type {
          transform: translateY(-5px);
        }

        &:last-of-type {
          transform: translateY(5px);
        }
      }
    }
  }

  .btn {
    @media screen and (min-width: 1200px) {
      display: none;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 48px;
      max-width: 199px;
    }
  }
}
